# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment directory
venv/

# IDE or text editor files (if applicable)
.vscode/
.idea/

# Operating system-specific files
.DS_Store  # macOS
Thumbs.db  # Windows
